#achievements{
    text-align: center;
    font-size: 30px;
    color: brown;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}
.achieve{
    border:solid 5px; 
    border-color: rgb(206, 45, 72);
    background-color: #fdd7cc;
    width: 450px;
    height: 450px;
    padding: 64px;
    margin: 0 auto;

}
#view{
    color: white;
    background-color: rgb(211, 17, 82);
    border-radius: 30px;
    padding: 15px 23px;
    text-align: center;
    display: inline-block;
    margin-left: -9%;
}
#text{
    color: white;
    border-radius: 30px;
    padding: 15px 23px;
    text-align: center;
    display: inline-block;
    margin-left: -9%;
    
}
#taskInput{
    color: white;
    border-radius: 30px;
    padding: 15px 23px;
    text-align: center;
    display: inline-block;
    margin-left: -9%;
}
@media screen and (min-width:375px) and (max-width:667px){
    #achievements{
        text-align: center;
        font-size: 40px;
        color: brown;
    }
    .navbar{
        display: flex;
        flex-wrap: wrap;
        gap: 10%;
    }
    .achieve{
        border:solid 5px; 
        border-color: rgb(206, 45, 72);
        background-color: #fdd7cc;
        width: 50%;
        padding: 64px;
        margin: 0 auto;
    
    }  
}
@media screen and (min-width:667px) and (max-width:750px){
    #achievements{ 
        color: brown;
    }
    .navbar{
        display: flex;
        flex-wrap: wrap;
        gap: 10%;
    }
    .achieve{
        border:solid 5px; 
        border-color: rgb(206, 45, 72);
        background-color: #fdd7cc;
        width: 50%;
        padding: 64px;
        margin: 0 auto;
    
    }    
}
@media screen and (min-width:0px) and (max-width:299px){
    #achievements{
        text-align: center;
        font-size: 30px;
        color: brown;
    }
    .navbar{
        display: flex;
        flex-wrap: wrap;
        gap: 10%;
    }
    .achieve{
        border:solid 5px; 
        border-color: rgb(206, 45, 72);
        background-color: #fdd7cc;
        width: 450px;
        height: 450px;
        padding: 64px;
        margin: 0 auto;
    
    } 
}