.login{
    border:solid 5px; 
    border-color: rgb(206, 45, 72);
    background-color: #fdd7cc;
    width: 50%;
    padding: 24px;
    margin: 0 auto;

}
.input{
    padding: 12px 16px;
    width: 80%;
    border-radius: 5px;
    border: solid 1px;
}
#password{
    padding: 12px 16px;
    width: 80%;
    border-radius: 5px;
    border: solid 1px; 
}
@media screen and (min-width:280px) and (max-width:653px){
    .login{
        border:solid 5px; 
        border-color: rgb(206, 45, 72);
        background-color: #fdd7cc;
        width: 50%;
        padding: 24px;
        margin: 0 auto;
    
    }
    .input{
        padding: 12px 16px;
        width: 80%;
        border-radius: 5px;
        border: solid 1px;
    }
    #password{
        padding: 12px 16px;
        width: 80%;
        border-radius: 5px;
        border: solid 1px; 
    }
}