#mentorimage{
    width: 200px;
    height: 200px;
}
.mentorform{
    border:solid 5px; 
    border-color: rgb(206, 45, 72);
    background-color: #fdd7cc;
    width: 900px;
    height: 900px;
    padding: 34px;
    margin: 0 auto;

     }
#profile{
    text-align: center;
    font-size: 40px;
    margin-top: 2px;
}
.navbar{
    display: flex;
    gap: 10%;
}
a{
    text-decoration: none;
    color: black;
}
.info{
    font-size: 40px;
}
@media screen and (min-width:0px)  and (max-width:299px){
    #mentorimage{
        width: 100px;
        height: 100px;
    }
    .mentorform{
        border:solid 5px; 
        border-color: rgb(206, 45, 72);
        background-color: #fdd7cc;
        width: 60%;
        padding: 24px;
        margin: 0 auto;
    
         }
    #profile{
        text-align: center;
        font-size: 2px;
        margin-top: 2px;
    }
    .navbar{
        display: block;
        gap: 10%;
    } 
    .info{
        font-size: 15px;
    } 
}
@media screen and (min-width:300px) and (max-width:500px){
    #mentorimage{
        width: 100px;
        height: 100px;
    }
    .mentorform{
        border:solid 5px; 
        border-color: rgb(206, 45, 72);
        background-color: #fdd7cc;
        width: 60%;
        padding: 24px;
        margin: 0 auto;
    
         }
    #profile{
        text-align: center;
        font-size: 40px;
        margin-top: 2px;
    }
    .navbar{
        display: block;
        flex-wrap: wrap;
        gap: 5%;
    }   
}
@media screen and (min-width:600px) and (max-width:800px){
    #mentorimage{
        width: 100px;
        height: 100px;
    }
    .mentorform{
        border:solid 5px; 
        border-color: rgb(206, 45, 72);
        background-color: #fdd7cc;
        width: 60%;
        padding: 24px;
        margin: 0 auto;
    
         }
    #profile{
        text-align: center;
        font-size: 40px;
        margin-top: 2px;
    }
    .navbar{
        display: block;
        flex-wrap: wrap;
        gap: 5%;
    }  
}
@media screen and (min-width:820px) and (max-width:1100){
    #mentorimage{
        width: 100px;
        height: 100px;
    }
    .mentorform{
        border:solid 5px; 
        border-color: rgb(206, 45, 72);
        background-color: #fdd7cc;
        width: 60%;
        padding: 24px;
        margin: 0 auto;
    
         }
    #profile{
        text-align: center;
        font-size: 40px;
        margin-top: 2px;
    }
    .navbar{
        display: block;
        flex-wrap: wrap;
        gap: 5%;
    }  
}
